
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Art Mall</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>

<body class="animsition">
	<!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="/home"><img src="/static/img/logo.png" alt=""></a>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <ul>
                    <li><a href="/adminpage">Account</a></li>
                    <li><a href="/categoriesadd">Categories</a></li>
                    <li><a href="/productsadd">Products</a></li>
                    <li class="active"><a href="/orderslist">Orders</a></li>
                    <li><a href="/userslist">Users</a></li>
                    <li style="left: 200px"> 
                        {% if user.is_authenticated %}
                            <a href="/logout"><img src="/static/img/logout-01.png" alt="IMG-LOGOUT"></a>
                        {% else %}
                            <a href="/login"><img src="/static/img/login-01.png" alt="IMG-LOGIN"></a>
                        {% endif %}
                    </li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">       
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/home"><img src="/static/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="/adminpage">Account</a></li>
                            <li><a href="/categoriesadd">Categories</a></li>
                            <li><a href="/productsadd">Products</a></li>
                            <li class="active"><a href="/orderslist">Orders</a></li>
                            <li><a href="/userslist">Users</a></li>
                            <li style="left: 200px"> 
                                {% if user.is_authenticated %}
                                    <a href="/logout"><img src="/static/img/logout-01.png" alt="IMG-LOGOUT"></a>
                                {% else %}
                                    <a href="/login"><img src="/static/img/login-01.png" alt="IMG-LOGIN"></a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/static/img/vegetables.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2 style="color: black;">Admin</h2>
                        <div class="breadcrumb__option">
                            <span style="color: black;">Account</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

	<!-- Shopping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <form method="post" action="">{% csrf_token %}
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Products</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                                {% for prod in shopped %}
                            <tbody>
                                <tr>
                                    <td class="shoping__cart__item">
                                        <img src="{{prod.productid.imageurl}}" style="height: 100px"; alt="">
                                        <h5>{{prod.productid.name}}</h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        Rs. {{prod.productid.mrp}}/-
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        {{prod.quantity}}
                                    </td>
                                    <td class="shoping__cart__total">
                                        Rs. {{prod.totalAmount}}/-
                                    </td>
                                </tr>
                            </tbody>
                                {% endfor %}
                        </table>
                    </div>
                </div>
            	</form>
            </div>
            <div class="col-lg-12" style="padding-left: 300px; padding-right: 300px;">
                <div class="shoping__checkout">
                    <h5>Order Summary</h5>
                    <ul>
                        <li>Name <span>{{ordered.userid.user.first_name}}</span></li>
                        <li>Address <span>{{ordered.userid.address}}</span></li>
                        <li>Mobile <span>{{ordered.userid.mobile}}</span></li>
                        <li>Email <span>{{ordered.userid.user.email}}</span></li><li>Total <span>Rs. {{ordered.cartTotal}}/-</span></li>
                    </ul>
            	</div>
			</div>
		</div>
		</section>
	</form>

	<!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="/home"><img src="/static/img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: BHU Varanasi, India</li>
                            <li>Phone: +91 880 9306 667</li>
                            <li>Email: shop@bhu.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="/products">Shop</a></li>
                            <li><a href="/about">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

<!--===============================================================================================-->	
	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="/static/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.nice-select.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/jquery.slicknav.js"></script>
    <script src="/static/js/mixitup.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>