<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Art Mall</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>

<body>
    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="/home"><img src="/static/img/logo.png" alt=""></a>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="/products">Shop</a></li>
                <li>
                    {% if user.is_authenticated %}
                        <a href="/account/">Account</a>
                    {% else %}
                        <a href="/register">Register</a>
                    {% endif %}
                </li>
                <li><a href="/shoppingcart">Cart</a></li>
                <li><a href="/about">About</a></li>
                  <li> {% if user.is_authenticated %}
                                <a href="/logout"><img src="/static/img/logout-01.png" alt="IMG-LOGOUT"></a>
                            {% else %}
                                <a href="/login"><img src="/static/img/login-01.png" alt="IMG-LOGIN"></a>
                            {% endif %}
                        </li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">       
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/home"><img src="/static/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="/products">Shop</a></li>
                            <li>
                                {% if user.is_authenticated %}
                                    <a href="/account/">Account</a>
                                {% else %}
                                    <a href="/register">Register</a>
                                {% endif %}
                            </li>
                            <li class="active"><a href="/shoppingcart">Cart</a></li>
                            <li><a href="/about">About</a></li>
                            <li style="left: 300px"> 
                                {% if user.is_authenticated %}
                                    <a href="/logout"><img src="/static/img/logout-01.png" alt="IMG-LOGOUT"></a>
                                {% else %}
                                    <a href="/login"><img src="/static/img/login-01.png" alt="IMG-LOGIN"></a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

  
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="padding-left: 300px; padding-right: 300px;">
                    <div class="shoping__checkout">
                        <h5 style="text-align: center;">YOUR ORDER HAS BEEN RECEIVED!<br>THANKS FOR SHOPPING WITH US!</h5>
                        <a href="/products/" class="primary-btn">FEEL FREE TO SHOP MORE!</a>
                    </div>
                </div>
            </div></form>
            </div>
        </div>
    </section>
 
    <!-- Shoping Cart Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="/home"><img src="/static/img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: BHU Varanasi, India</li>
                            <li>Phone: +91 880 9306 667</li>
                            <li>Email: shop@ogani.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="/products">Shop</a></li>
                            <li><a href="/about">About Us</a></li>
                        </ul>
                    </div>
                    <div>
                        <h6 ><b>Covid Updates</b></h6>
                        <marquee width="100%" direction="left" height="30%" color="Blue">
                           <p style="color: crimson; padding-top: 5px;">जब तक दवाई नहीं, तब तक ढिलाई नहीं!</p> 

                        </marquee>
                        <span><b>For More Updates: </b><a href="https://www.mohfw.gov.in/covid_vaccination/vaccination/index.html" style="color: blue;"> click here</a></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>


</body>

</html>